{% extends "base.html" %}
{% block title %}Buscar Caja{% endblock %}
{% block content %}
<h2>Buscar Caja</h2>
<form method="GET" class="mb-3">
  <div class="input-group">
    <input type="text" name="query" class="form-control" placeholder="Ingrese término de búsqueda" value="{{ query }}">
    <button type="submit" class="btn btn-primary">Buscar</button>
  </div>
</form>
{% if cajas %}
  <h3>Resultados:</h3>
  <div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>ID Caja</th>
        <th>Código Caja</th>
        <th>Departamento</th>
        <th>Años</th>
        <th>Tipo</th>
        <th>Observación</th>
        <th>Descripción</th>
        <th>Bodega</th>
        <th>Ubicación</th>
        <th>Percha</th>
        <th>Fila</th>
        <th>Columna</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for caja in cajas %}
      <tr>
        <td>{{ caja.id }}</td>
        <td>{{ caja.id_caja }}</td>
        <td>{{ caja.codigo_caja }}</td>
        <td>{{ caja.departamento }}</td>
        <td>{{ caja.años }}</td>
        <td>{{ caja.tipo }}</td>
        <td>
          <div class="text-wrap" style="max-width: 150px; max-height: 80px; overflow-y: auto;">
            {{ caja.observacion }}
          </div>
        </td>
        <td>
          <div class="text-wrap" style="max-width: 200px; max-height: 100px; overflow-y: auto;">
            {{ caja.descripcion }}
          </div>
        </td>
        <td>{{ caja.bodega }}</td>
        <td>{{ caja.ubicacion }}</td>
        <td>{{ caja.percha }}</td>
        <td>{{ caja.fila }}</td>
        <td>{{ caja.columna }}</td>
        <td>
          <a href="{{ url_for('edit_caja', caja_id=caja.id) }}" class="btn btn-primary btn-sm">Editar</a>
          <form action="{{ url_for('delete_caja_route', caja_id=caja.id) }}" method="POST" style="display:inline-block;" onsubmit="return confirm('¿Estás seguro de eliminar esta caja?');">
            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% elif query %}
  <p>No se encontraron resultados.</p>
{% endif %}
{% endblock %}
